h1 {
    color: bisque;
    font-family: Helvetica;
}

img {
    height: 300px;
    width: auto;
    border-radius: 25px;
    align-content: flex-start;
}

body {
    width: 800px;
    align-content: center;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}